<head th:fragment="header(title)">
    <title th:text="${#strings.isEmpty(title)} ? 'Blog Platform' : 'Blog Platform - ' + ${title}"></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css?v=1}"/>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
</head>

<div class="section section-breadcrumbs" th:fragment="pageTitle(title)">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 th:text="${title}"></h1>
            </div>
        </div>
    </div>
</div>