/*--------------------------------------------------------------------------
	General Style
--------------------------------------------------------------------------*/
body {
  background: url(../img/background.png);
  overflow-y: scroll;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.section {
  padding: 30px 0;
}
.section-white {
  background: #FFF;
}
.section .container:first-child h1,
.section .container:first-child h2,
.section .container:first-child h3 {
  margin-top: 0;
  font-weight: 700;
}
.input-micro {
  width: 50px;
  margin-bottom: 0 !important;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(79, 141, 179, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(79, 141, 179, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(79, 141, 179, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(79, 141, 179, 0.6);
  color: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(79, 141, 179, 0.6);
}
ul.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
ul.no-list-style li {
  line-height: 28px;
}
div[class*="span"] {
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  -ms-transition: all .4s linear;
  transition: all .4s linear;
}
/*--------------------------------------------------------------------------
	Typography Style
--------------------------------------------------------------------------*/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #535b60;
}
h1 {
  color: #53555c;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
h2 {
  color: #53555c;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  border-bottom: 2px solid #53555c;
  line-height: 1.5em;
  margin: 30px 0;
  padding-left: 10px;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  color: #53555c;
  font-size: 1.5em;
}
h4 {
  font-family: 'Open Sans', sans-serif;
  color: #53555c;
  margin-bottom: 10px;
}
a {
  color: #4f8db3;
}
a:hover {
  color: #2f556d;
}

/*--------------------------------------------------------------------------
+	Testimonials Style
--------------------------------------------------------------------------*/
.testimonial blockquote {
  margin: 0;
  padding: 0;
  border-left: none;
}
.testimonial blockquote p {
  font-size: 0.9em;
  margin-bottom: 20px;
  line-height: 1.5;
}
.testimonial .testimonial-bubble {
  text-align: justify;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  padding: 0 20px 20px 20px;
  margin: 35px 10px 20px 10px;
  background: #FFF;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  color: inset 0 1px #fff,0 1px 2px #c8cfe6;
}
.testimonial .testimonial-bubble::before {
  background-color: #FFF;
  content: "\00a0";
  display: block;
  height: 20px;
  width: 20px;
  top: -10px;
  left: 45%;
  position: relative;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.testimonial .author-photo {
  text-align: center;
}
.testimonial .author-photo img {
  margin: auto;
  border: 5px solid #FFF;
  -webkit-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100px;
  -moz-background-clip: padding;
  border-radius: 100px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  color: inset 0 1px #fff,0 1px 2px #c8cfe6;
}

.testimonial .author-photo img:hover {
  position: relative;
  -webkit-transform: scale(1.1) rotate(2deg);
  -moz-transform: scale(1.1) rotate(2deg);
  -o-transform: scale(1.1) rotate(2deg);
  -ms-transform: scale(1.1) rotate(2deg);
  transform: scale(1.1) rotate(2deg);
}

.testimonial .author-info {
  font-weight: 400;
  font-size: 0.8em;
}
/*--------------------------------------------------------------------------
+	Blog Style
--------------------------------------------------------------------------*/
/* Posts List */
.blog-post {
  background: #FFF;
  position: relative;
  margin: 20px 0;
  border: 7px solid #FFF;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  color: inset 0 1px #fff,0 0 8px #c8cfe6;
}
.blog-post img {
  max-width: 100%;
}
.blog-post .post-info {
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  color: #FFF;
  line-height: 1.2;
  position: absolute;
  padding: 5px;
  left: 10px;
  top: 10px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
.blog-post .post-comments-count {
  text-align: center;
}
.post-info .post-comments-count {
  padding-top: 5px;
}
.post-info .post-comments-count i {
  margin-right: 5px;
}
.post-info .post-comments-count a {
  color: #FFF;
}
.post-info .post-date .date {
  font-size: 0.7em;
  font-weight: 600;
}
.post-title h3 {
  font-size: 1.2em;
  border-bottom: 1px dotted #828282;
  margin: 0 20px;
  padding-top: 10px;
}
.post-title h3 a {
  color: #535b60;
}
.post-summary {
  margin: 10px 20px;
  height: 100px;
}
.post-summary p {
  color: #828282;
  font-size: 0.9em;
  text-align: justify;
}
.post-more {
  text-align: right;
  padding: 0 20px 20px 0;
}
/* Single Post */
.blog-single-post {
  padding: 10px 30px;
}
.single-post-title h3 {
  font-size: 1.5em;
  margin: 0;
}
.single-post-info {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #828282;
}
.single-post-info i {
  color: #333;
  margin-right: 5px;
}
.single-post-image {
  text-align: center;
}
.single-post-image img {
  -webkit-box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  color: 0 0 5px #000;
}
.single-post-content {
  margin: 30px 0 20px 0;
  padding-bottom: 20px;
  border-bottom: 2px dotted #CCC;
}
.single-post-content p {
  color: #828282;
  font-size: 0.9em;
  text-align: justify;
}
.post-comments {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 40px;
  padding: 0;
}
.post-comments ul {
  list-style-type: none;
  margin-left: 30px;
  padding: 0;
}
.comment-wrapper p {
  margin: 0;
  position: relative;
  border: 1px solid #CCC;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.comment-author {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 10px;
}
.comment-author img {
  max-width: 50px;
  -webkit-border-radius: 25px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 25px;
  -moz-background-clip: padding;
  border-radius: 25px;
  background-clip: padding-box;
  margin-right: 10px;
}
.comment-date {
  font-size: 0.9em;
  margin-right: 20px;
}
.comment-actions {
  text-align: right;
  opacity: 0.6;
  -webkit-transition: opacity .25s linear;
  -moz-transition: opacity .25s linear;
  -o-transition: opacity .25s linear;
  -ms-transition: opacity .25s linear;
  transition: opacity .25s linear;
}
.comment-actions:hover {
  text-align: right;
  opacity: 1;
}
.comment-actions i {
  color: #333;
}
.comment-reply-btn {
  margin-left: 10px;
}
.blog-sidebar h4 {
  margin-top: 20px;
  font-weight: 700;
}
.blog-sidebar h4:first-child {
  margin-top: 0;
}
.blog-sidebar ul {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}
.blog-sidebar .recent-posts li,
.blog-sidebar .blog-categories li {
  padding: 5px 20px 5px 0;
  border-top: 1px solid #D5D5D5;
}
.blog-sidebar .recent-posts li:last-child,
.blog-sidebar .blog-categories li:last-child {
  border-bottom: 1px solid #D5D5D5;
}
.blog-sidebar .recent-posts a,
.blog-sidebar .blog-categories a {
  color: #535b60;
}
/*--------------------------------------------------------------------------
+	Login/Register/Reset Password Forms Style
--------------------------------------------------------------------------*/
.basic-login {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px 20px 10px 20px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px #fff,0 0 4px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 0 4px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 0 4px #c8cfe6;
  color: inset 0 1px #fff,0 0 4px #c8cfe6;
}
.basic-login form {
  margin: 0;
}
.basic-login label {
  line-height: 30px;
  font-size: 1.2em;
}
.basic-login input[type="checkbox"] {
  margin-top: 4px;
}
/*--------------------------------------------------------------------------
+	'In Press' Style
--------------------------------------------------------------------------*/
.in-press a {
  color: #a0a7ac;
  font-size: 1.3em;
  font-family: Georgia, serif;
  line-height: 28px;
  position: relative;
  padding-left: 16px;
  padding-bottom: 32px;
  margin-bottom: 15px;
  display: block;
  -webkit-transition: color .25s linear;
  -moz-transition: color .25s linear;
  -o-transition: color .25s linear;
  -ms-transition: color .25s linear;
  transition: color .25s linear;
}
.in-press a:hover {
  color: #4f8db3;
  text-decoration: none;
}
.in-press a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  right: 20px;
  width: 120px;
  height: 32px;
  background-image: url(../img/in-press.png);
  background-repeat: no-repeat;
  -webkit-transition: .25s linear;
  -moz-transition: .25s linear;
  -o-transition: .25s linear;
  -ms-transition: .25s linear;
  transition: .25s linear;
}
.in-press a:before {
  content: "\201C";
  margin-left: -16px;
  font-size: 2.2em;
}
.press-more a:after {
  background-position: 0px 0px;
}
.press-more a:hover:after {
  background-position: 0px -32px;
}

/*--------------------------------------------------------------------------
+	Breadcrumbs Section Style
--------------------------------------------------------------------------*/
.section-breadcrumbs {
  background: #222;
  background: rgba(34, 34, 34, 0.8);
  margin-bottom: 10px;
}
.section-breadcrumbs h1 {
  color: #FAFAFA;
  font-size: 1.6em;
  margin-bottom: 0;
  text-transform: none;
}
/*--------------------------------------------------------------------------
	Footer Style
--------------------------------------------------------------------------*/
.footer {
  background: #222;
  color: #A0A0A0;
  padding: 0 20px 10px 20px;
  border-top: 4px solid #4f8db3;
  margin-top: auto;
  -webkit-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  color: 0 -1px 12px rgba(0,0,0,0.4);
  width: 100%;
}

.footer-copyright {
  text-align: center;
  color: #7C7C7C;
  border-top: 1px dotted #7C7C7C;
  padding-top: 10px;
  font-size: 0.9em;
}
/*--------------------------------------------------------------------------
+	Pagination Style (overrides Bootstrap style)
--------------------------------------------------------------------------*/
.pagination-wrapper {
  margin-top: 15px;
  text-align: center;
}
.pagination > li > a,
.pagination > li > span {
  border: none;
  border-bottom: 3px solid #FFF;
  color: #666666;
  margin-left: 0;
  margin-bottom: 5px;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: all .25s linear;
  transition: all .25s linear;
}
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > .active > a,
.pagination > .active > span {
  background: #FFF;
}
.pagination > li > a:hover {
  border-bottom: 3px solid #666666;
}
.pagination > .active > a,
.pagination > .active > span {
  color: #666666;
  border-bottom: 3px solid #4f8db3;
}
.pagination > .disabled > a {
  border-color: #fff;
}
.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  margin-bottom: 0;
  color: #C9C9C9;
  background-color: #FFF;
  cursor: default;
}
/*--------------------------------------------------------------------------
+	404 Page Style
--------------------------------------------------------------------------*/
.error-page-wrapper {
  font-size: 1.5em;
  font-weight: 600;
  margin: 100px 0;
  text-align: center;
}
/*--------------------------------------------------------------------------
+	Users Page Style
--------------------------------------------------------------------------*/
.userletter {
    float: left;
    width: 100%;
    height: auto;
    padding-bottom: 15px;
}

.usrltrhd {
    height: 80px;
    width: 100%;
    padding: 0px;
}

.usrltrhd2 {
    display: inline-block;
    height: 58px;
    margin-top: 18px;
    margin-left: 20px;
    float: left;
}

.usrltrhd2 h2 {
    margin: 21px;
}

.userscl {
    margin: 2px 0px;
    width: 100%;
}

.usernm {
    margin-bottom: 2px;
    padding: 5px 0;
    width: 25%;
    text-align: center;
    float: left;
    background-color: rgba(0, 0, 0, 0.05);
}
/*--------------------------------------------------------------------------
+	Main Menu Style
--------------------------------------------------------------------------*/
.mainmenu li.logo-wrapper a {
  border-right: 1px solid #E8E8E8;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.mainmenu-wrapper {
  background-color: #FFF;
  border-bottom: 4px solid #4f8db3;
  z-index: 4;
}
.mainmenu {
  width: 100%;
  /* general ul style */
  /* first level ul style */
  /* sub-menu */
}
.mainmenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.mainmenu > ul,
.mainmenu .mainmenu-submenu-inner {
  margin: 0 auto;
}
.mainmenu > ul > li,
.mainmenu .mainmenu-submenu-inner > li {
  display: inline-block;
  *display: inline;
}
.mainmenu > ul > li > a,
.mainmenu .mainmenu-submenu-inner > li > a {
  font-size: 1.2em;
  padding: 1.2em 1.5em;
  color: #999;
  display: inline-block;
  text-decoration: none;
}
.mainmenu > ul > li > a:hover,
.mainmenu .mainmenu-submenu-inner > li > a:hover {
  color: #4f8db3;
  text-decoration: none;
}
.mainmenu > ul > li.active > a,
.mainmenu .mainmenu-submenu-inner > li.active > a {
  color: #4f8db3;
  font-weight: 600 !important;
}
.mainmenu > ul > li.mainmenu-open a,
.mainmenu .mainmenu-submenu-inner > li.mainmenu-open a,
.mainmenu > ul li.mainmenu-open > a:hover,
.mainmenu .mainmenu-submenu-inner li.mainmenu-open > a:hover {
  color: #fff;
  background: #4f8db3;
}
.mainmenu .mainmenu-submenu {
  display: none;
  position: absolute;
  background: #4f8db3;
  width: 100%;
  left: 0;
  z-index: 999;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.4);
  box-shadow: 0 5px 5px rgba(0,0,0,0.4);
  color: 0 5px 5px rgba(0,0,0,0.4);
}
.mainmenu .mainmenu-submenu-inner > div {
  width: 33%;
  float: left;
}
.mainmenu .mainmenu-submenu-inner:before,
.mainmenu .mainmenu-submenu-inner:after {
  content: " ";
  display: table;
}
.mainmenu .mainmenu-submenu-inner:after {
  clear: both;
}
.mainmenu .mainmenu-submenu-inner > div a {
  line-height: 2em;
}
.mainmenu-open .mainmenu-submenu {
  display: block;
  padding-bottom: 3em;
}
.mainmenu-submenu h4 {
  color: #bad2e1;
  padding: 1em 0 0.6em;
  margin-left: 20px;
  font-size: 160%;
  font-weight: 300;
}
.mainmenu-submenu ul {
  margin-left: 20px;
}
@media screen and (max-width: 979px) {
  .mainmenu {
    font-size: 0.8em;
  }
  .mainmenu-submenu {
    font-size: 1.2em;
  }
  .mainmenu-submenu li,
  .mainmenu-submenu h4 {
    padding-left: 10px;
  }
}
@media screen and (max-width: 479px) {
  .mainmenu {
    font-size: 120%;
    border: none;
  }
  .mainmenu > ul,
  .mainmenu .mainmenu-submenu-inner {
    width: 100%;
    padding: 0;
  }
  .mainmenu .mainmenu-submenu-inner {
    padding: 0 1.5em;
    font-size: 75%;
  }
  .mainmenu > ul > li {
    display: block;
    border-bottom: 4px solid #4f8db3;
  }
  .mainmenu > ul > li > a {
    display: block;
    padding: 1em 3em;
  }
  .mainmenu > ul > li:last-child {
    border: none;
  }
  .mainmenu .mainmenu-submenu {
    position: relative;
  }
  .mainmenu-submenu h4 {
    padding-top: 0.6em;
  }
  .mainmenu .mainmenu-submenu-inner > div {
    width: 100%;
    float: none;
    padding: 0;
  }
}
/*--------------------------------------------------------------------------
+	Buttons Style
--------------------------------------------------------------------------*/
.btn {
  border: 1px solid #4f8db3;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  text-transform: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
  text-align: center;
  background: none repeat scroll 0 0 #4f8db3;
  text-shadow: none;
  box-shadow: none;
  color: #FFF;
  white-space: nowrap;
}
.btn:hover {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #3b3c41;
}
.btn-micro {
  padding: 1px 8px;
  font-size: 10px;
}
.btn-grey {
  border: 1px solid #cecece;
  color: #333;
  background: none repeat scroll 0 0 #E7E7E7;
}
.btn-grey:hover {
  background: none repeat scroll 0 0 #cecece;
  color: #333;
  text-decoration: none;
  border: 1px solid #cecece;
}
.btn-blue {
  border: 1px solid #3e7191;
  color: #FFF;
  background: none repeat scroll 0 0 #4F8DB3;
}
.btn-blue:hover {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #3b3c41;
}
.btn-orange {
  border: 1px solid #cc5a00;
  color: #FFF;
  background: none repeat scroll 0 0 #FF7000;
}
.btn-orange:hover {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #3b3c41;
}
.btn-green {
  border: 1px solid #4c5818;
  color: #FFF;
  background: none repeat scroll 0 0 #6E8023;
}
.btn-green:hover {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #3b3c41;
}
.btn-red {
  border: 1px solid #ab0d0d;
  color: #FFF;
  background: none repeat scroll 0 0 #DA1111;
}
.btn-red:hover {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #3b3c41;
}