<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/header :: header('Error')"></head>
<body>

<!-- Navigation & Logo-->
<div th:replace="fragments/navigation :: navigation('error')"/></div>

<!-- Page Title -->
<div th:replace="fragments/header :: pageTitle('Page Not Found...')"></div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="error-page-wrapper">
                    <p>Sorry, the page you are looking for is not here or never was...</p>
                    <p>Why don't you try the <a href="/">Homepage</a>?</p>
                    <table class="table" style="margin-top:50px" sec:authorize="hasRole('STAFF')">
                        <tr>
                            <td>Date</td>
                            <td th:text="${timestamp}"/>
                        </tr>
                        <tr>
                            <td>Path</td>
                            <td th:text="${path}"/>
                        </tr>
                        <tr>
                            <td>Error</td>
                            <td th:text="${error}"/>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td th:text="${status}"/>
                        </tr>
                        <tr>
                            <td>Message</td>
                            <td th:text="${message}"/>
                        </tr>
                        <tr>
                            <td>Exception</td>
                            <td th:text="${exception}"/>
                        </tr>
                        <tr>
                            <td>Trace</td>
                            <td>
                                <pre th:text="${trace}"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

<!-- Javascripts -->
<div th:replace="fragments/footer :: javascript"></div>

</body>
</html>