<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog Platform</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>

<div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
    <div class="col-md-12" th:each="post : ${posts.content}">
        <div class="blog-entry  d-md-flex">
            <div class="text text-2 pl-md-4">
                <h3 class="mb-2" th:utext="${post.title}">...</h3>
                <div class="meta-wrap">
                    <p class="meta">
                        <span th:text="${#dates.format(post.dateCreate, 'MMM dd, yyyy HH:mm')}"></i>...</span>
                        <span>Comments: [[${service.countChildByParent(post.id)}]] [[${post.id}]]</span>
                    </p>
                </div>
                <p class="mb-4" th:utext="${#strings.abbreviate(post.text,500)}">...</p>
                <p><a th:href="@{/post/{id}(id=${post.Id})}" class="btn-custom">Read More</a></p>
            </div>
        </div>
    </div>

    <nav th:replace="fragments/pagination :: pagination(${currentPage}, ${page}, ${totalPages})"/></nav>
</div>

</body>
</html>